
body{
    margin: 0;
}
.home_bage{
    background-image: url("aaa.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.nav_img{
    width: 50%;
    float: left;
    
}
.nav_img img{
    width: 30%;
    margin: 15px 48px;
}
.nav_list{
    width: 50%;
    float: left;
}
.nav_list ul{
    margin-left: 260px;
}
.nav_list li{
    float: left;
    color: white;
    list-style-type: none;
    margin: 0px 15px;
}
.nav_list a{
    color: white;
    text-decoration: none;
}
.clr{
    clear: both;
}
.home_bage .home_bage_text{
    text-align: center;
    color: rgb(186 186 186);
    margin-top: 25vh;
    font-size: 20px;
}
.home_bage .home_bage_text h1{
    color: white;
    font-size: 60px;
}
.home_bage .home_bage_text button{
    padding: 10px;
    margin: 5px;
    color: white;
}
.home_bage .home_bage_text .first_button{
    background-color:#8e7755;
    border:none;
    border-radius: 5px;
}
.home_bage .home_bage_text .second_button{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
}



.We{
    width: 100%;
}
.We .we_img{
    width: 40%;
    float: left;
}
.We .we_img img{
    width: 100%;
    margin: 40px;
}
.We .we_text{
    width:60%;
    float: left;
    text-align: center;
    margin-top: 30px
}
.We .we_text p{
    width: 80%;
    margin: auto;
    padding: 10px;
    line-height: 2;
}
.We .we_text .h{
    font-weight: bold;
    text-align: left;
}
.We .we_text p{
    color: #8b8a88;
}


.Our_location{
    width: 100%;
    background-color: #eee;
}
.Our_location .Our_location_text{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 80px;
}
.Our_location .Our_location_text p{
    width: 80%;
    margin: auto;
    padding: 15px;
    line-height: 2;
    color: #8b8a88;
}
.Our_location .Our_location_img{
    width: 50%;
    float: left;

}
.Our_location .Our_location_img img{
    width: 100%;
    margin: 40px 40px 40px -30px;
}


.contact_information{
    width: 100%;
}
.contact_information .contact_information_text{
    width: 50%;
    float: left;
    text-align: center;
    margin: 40px 0;
}
.contact_information .contact_information_img{
    width: 50%;
    float: left;
    text-align: left; 
}
.contact_information .contact_information_text p{
    width: 80%;
    margin: auto;
    padding: 10px;
    line-height: 2;
}
.contact_information .contact_information_text .h{
    text-align: left;
    line-height: 2;
}
.contact_information .contact_information_text .h i{
    background-color: #8b8a88;
    padding: 5px;
    border-radius: 50%;
}
.contact_information .contact_information_img iframe{
    margin: 60px 0;
    margin-left: -20px;
}

.our_baking{
    width: 100%;
    background-color: #eee;
}
.our_baking div{
    margin: 20px 0;
}
.our_baking .div1{
    text-align: center;
    width: 100%;
    padding-top: 20px;
}
.our_baking .div2{
    float: left;
    width:33.3333%;
    text-align: center;
}
.our_baking .div2 img{
    width: 300px;
}
.our_baking p{
    color: #8b8a88;
}
.final{
    width: 100%;
    background-color: #413c39;
    color: #8b8a88;
}
.final .div1{
    float: left;
    width: 25%;
    
}
.final .div1 .cl{
    width: 200px;
    margin-left: 60px;
}
.t{
    width: 100%;
    text-align: center;
    background-color: #34332f;
}
.t a{
    color: #8b8a88;
    padding: 0 5px;
}
.t p{
    color: #8b8a88;
    padding: 20px;
}
.line{
    
    width: 80%;
    height: 1px;
    background-color: #34332f;
}
.icons{
    padding-bottom: 20px;
}
